@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 0, 0);
}


.inner-structure{
    max-width: 80%;
    margin: 0 auto;
    border: 2px solid green;
     display: flex;
     flex-direction: column;
    justify-content: space-between;    
}
/* nav bar styles start here  */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    height: 100vh;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content ul >li {
    list-style-type: none;
}
.nav-title{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 3vw;
    font-weight: 800;

}
.list-container{
    display: flex;
    align-items: center;
    gap: 1.5vw;
    border: 1px solid gray;
    border-radius:  50px;

    color: rgb(255, 255, 255);
    font-size: 1.25vw;
    font-weight: 300;
    padding: .6vw;
}
.odvut{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: white;
    padding: 0.5vw 2vw;
    font-weight: 600;
}
/* banner style start here  */
.hero-section{
    display: flex;
    justify-content: space-between;
    border: 2px solid yellow;
    margin-top: 20px;

}

.banner-text{
    width: 50%;
    border: 1px solid blue;
    color: white;
}
.healthy{
   /* Get body in shape & stay healthy */

width: 100%;
height: 282px;
border: 2px solid red;


}
.healthy-content{
    padding: 0px;
align-self: stretch;
color: rgb(255, 255, 255);
/* font-size: 7vw; */
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.banner-img{
    width: 40%;
    border: 1px solid yellow;
    text-align: center;
    position: relative;
}
.banner-img img{
    
    width:50% ;
    
}

.tag-1{
    display: flex;
    align-items: center;
    width: 19vw;
/* height:8vw; */
color: white;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 80%;
    left: 10%;
}
.color-circle{
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);

}
.tag-2{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.077);
    width: 19vw;
    height:8vw;
    color: white;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 30%;
    right: 5%;
}

/* habbit section starts here */
.section-habbit{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
   
}
.habbit-title{
width: 60%;
margin: 0 auto;
height: 10vw;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
text-align: center;
}
.habbit-title h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4vw;
    font-weight: 900;
}
.habbit-title p{
    color: #ffffff80;
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
    
}
.habbit-card{
display: grid;
grid-template-columns: repeat(4,1fr);
column-gap: 40px;
margin-top: 5vw;
margin: 0 auto;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    
}
.card-text{
    display: flex;
    flex-direction: column;
    gap: 6px; 
}
.card h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1rem;
font-weight: 600;
}
.card p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.8rem;
font-weight: 400;
}
.card img{
    height: 65%;
    border-radius: 50%; 
}
/* section learn extra starts here  */
.run-extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 9vw;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 2% 2% 2% 0 ;

}
.run-extra-text{
    display: flex;
    flex-direction: column;
    margin-left: 4.5vw;
    gap: 1.2vw;
}
.run-extra-text h1{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 900;
    
}
.run-extra-text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3vw;
    font-weight: 400;
}

.run-extra-img{
 
    
    border-radius:1.55vw ;
    width: 40%;
    height: 30vw;
    overflow: hidden;
    position: relative;
    
    
    
}
.run-extra-img img{
    width: 100%;

    transform: scale(3.5);
    position: absolute;
    top: 35%;
    left: -40%;
  
   
}
.join{
    width: 55%;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    padding: 1.1vw 3.5vw;
    margin-top: 1.4vw;


}


/* section exercise starts here  */
.section-trainings{
    width: 80%;
    margin: 0 auto;
    margin-top: 6vw;
}
.training-title{
    width: 65%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2vw;
}
.training-title h3{
    color: rgb(255, 255, 255);
    
    font-size: 4.2vw;
    font-weight: 900;}
.training-title p{
    color: rgba(255, 255, 255, 0.5);

font-size: 14px;
font-weight: 400;
}


.exercise-img{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    max-width: 100%;
  

}

 .grid-img{
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: white;
    height: 15vw;
    position: relative;
    
 }
 span{
    position: absolute;
    bottom: 12%;
    left: 5%;
    width: 15vw;
    font-size:1.2vw ;
    font-weight: 400;

 }
.img-1{
    
    grid-column: 1/span 3;
    background-image: url(../images/exercise1.jpg);
    background-color: rgba(6, 255, 210, 0.5); 

}
.img-2{
    grid-column: 4/span 6;

    background-image: url(../images/exercise2.png);
    background-color: rgba(255, 0, 0, 0.3);
    position: relative;
}
.no-2{
    position: absolute;
    top: 12%;
    left: 5%;
}
.img-3{
    grid-column: 10/span 3;

    background-image: url(../images/exercise3.png);
    background-color: rgba(0, 0, 0, 0.5);
}
.img-4{
    grid-column: 1/span 4;
    background-image: url(../images/exercise4.png);
    background-color:  rgba(0, 0, 0, 0.5);
    position: relative;
}
.no-4{
    position: absolute;
    top: 12%;
    left: 48%;
}
.img-5{
    grid-column: 5/span 3;
    background-image: url(../images/exercise5.jpg);
    background-color: rgba(66, 255, 0, 0.3);
}
.img-6{
    grid-column: 8/span 5;
    background-image: url(../images/exercise6.jpg);
    background-color: rgba(66, 255, 0, 0.3);
}

/* bmi calculator section starts here  */

.bmi-title{
    width: 65%;
    margin: 0 auto;
    margin-top: 80px;
    
}
.bmi-title h3{
    color: rgb(255, 255, 255);
    font-size: 4.2vw;
    font-weight: 900;
   
}
.bmi-title p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2vw;
    font-weight: 400;
}
.bmi-container{
    width: 100%;
    padding:4.4vw 0;
    background-color:rgb(34, 34, 34);
    margin-top: 8vw;

}
.bmi-content{
    width: 80%;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bmi-chart, .bmi-calculator{
    width: 45%;
    height: 60%;
    text-align: left;
    
}

 .table{
    width: 100%;
    
   
}
.table table{
    border-collapse: collapse;
    width: 70%;
    height: 100%;
    margin-top: 10%;
}
.bmi-chart th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    color: rgb(255, 255, 255);
    font-size: 1.2vw;
    font-weight: 500;
    margin-left: 2vw;
    padding: 2%;
}
.bmi-chart td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.15vw;
    font-weight: 400;
}
.bmi-chart h2{
    width: 68%;
  
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 2.2vw;
    font-weight: 900;
}


.bmi-instruction{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2vw;
   
}
.bmi-instruction h2{
    color: rgb(255, 255, 255);
    font-size: 2.3vw;
    font-weight: 900;
    width: 80%;
    margin: 0;
    padding: 0;
  
}
.bmi-instruction p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2vw;
    font-weight: 400;
    
}
.form-content{
    margin: 2vw 0;
}
.form-group {

    display: flex;
    justify-content:space-between; 
    margin-bottom: 2%;
   
}

.form-group input, .form-group select 
    {
    width: 49%;
    padding: 0.7vw;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.4vw;
    font-weight: 400;
}
button{

    padding: 1vw 5vw ;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 42px;
    background: rgb(230, 83, 60);
}
    /* Meet team section start here */
.meet-team{
    margin-top: 100px;
}
.meet-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.3vw;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    font-weight: 400;
}
.meet-title h2{
    font-weight: 900;
    font-size: 3rem;
    color: white;
}

.team-members{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(32, 31, 31, 0.666);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}
.card-1{
    position: relative;
    overflow: hidden;
    
    height: 272px;
}
.card-1 img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    filter: brightness(60%);
}

.team-identity{
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    position: absolute;
    left: 5%;
    bottom: 5%;
}






