@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 0, 0);
}
main{
    width: 80%;
    margin: 0 auto;
}

.inner-structure{
    max-width: 80%;
    margin: 0 auto;
    border: 2px solid green;
     display: flex;
     flex-direction: column;
    justify-content: space-between;    
}
/* nav bar styles start here  */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    height: 100vh;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content ul >li {
    list-style-type: none;
}
.nav-title{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 3vw;
    font-weight: 800;

}
.list-container{
    display: flex;
    align-items: center;
    gap: 1.5vw;
    border: 1px solid gray;
    border-radius:  50px;

    color: rgb(255, 255, 255);
    font-size: 1.25vw;
    font-weight: 300;
    padding: .6vw;
}
.odvut{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: white;
    padding: 0.5vw 2vw;
    font-weight: 600;
}
/* banner style start here  */
.hero-section{
    display: flex;
    justify-content: space-between;
    border: 2px solid yellow;
    margin-top: 20px;

}

.banner-text{
    width: 50%;
    border: 1px solid blue;
    color: white;
}
.healthy{
   /* Get body in shape & stay healthy */

width: 100%;
height: 282px;
border: 2px solid red;


}
.healthy-content{
    padding: 0px;
align-self: stretch;
color: rgb(255, 255, 255);
/* font-size: 7vw; */
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.banner-img{
    width: 40%;
    border: 1px solid yellow;
    text-align: center;
    position: relative;
}
.banner-img img{
    
    width:50% ;
    
}

.tag-1{
    display: flex;
    align-items: center;
    width: 19vw;
/* height:8vw; */
color: white;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 80%;
    left: 10%;
}
.color-circle{
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);

}
.tag-2{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.077);
    width: 19vw;
    height:8vw;
    color: white;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 30%;
    right: 5%;
}

/* habbit section starts here */
.section-habbit{
    /* width: 80%; */
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
   
}
.habbit-title{
width: 60%;
margin: 0 auto;
height: 10vw;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
text-align: center;
}
.habbit-title h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4vw;
    font-weight: 900;
}
.habbit-title p{
    color: #ffffff80;
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
    
}
.habbit-card{
display: grid;
grid-template-columns: repeat(4,1fr);
column-gap: 40px;
margin-top: 5vw;
margin: 0 auto;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    
}
.card-text{
    display: flex;
    flex-direction: column;
    gap: 6px; 
}
.card h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1rem;
font-weight: 600;
}
.card p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.8rem;
font-weight: 400;
}
.card img{
    height: 65%;
    border-radius: 50%; 
}
/* section learn extra starts here  */
.run-extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    margin-top: 9vw;

}
.run-extra-text{
    width: 40%;
    /* margin: auto auto; */
    border: 1px solid yellow;
}
.run-extra-img{
    width: 40%;
    border:1px solid green
}
.run-extra-img img{
    width: 100%;
    /* transform: ; */
}
.join{

}