@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    max-width: 1400px;
    border: 2px solid red;
    background-color: rgb(0, 0, 0);


}

.inner-structure{
    max-width: 75%;
    margin: 0 auto;
    border: 2px solid green;
    min-height: 478px;
    
}
/* nav bar styles start here  */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content ul >li {
    list-style-type: none;
}
.nav-title{
    color: rgb(230, 83, 60);

}
.list-container{
    display: flex;
    align-items: center;
    gap: 1.5vw;
    border: 1px solid gray;
    border-radius: 50px;
    padding: .6vw;
    font-size: 2vw ;
    color: rgb(255, 255, 255); ;
}
.odvut{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: white;
    padding: 0.5vw 2vw;
}
/* banner style start here  */
.hero-section{
    display: flex;
}
.banner-text{
    width: 50%;
    border: 1px solid blue;
    color: white;
}
.healthy{
    color: rgb(255, 255, 255);
font-size: 6vw;
font-weight: 900;
/* height: 26vw; */
/* display: flex; */
/* flex-direction: column;
justify-content: flex-start;
align-items: flex-start; */
border: 2px solid orange;
line-height: 100%;
display: inline;


}
.banner-img{
    width: 50%;
    border: 1px solid yellow;
    height: 400px;
    text-align: center;
    position: relative;
}
.banner-img img{
    width:auto;
    height: 100%;
}
.tag-1{
    display: flex;
    align-items: center;
    width: 19vw;
/* height:8vw; */
color: white;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 80%;
    left: 10%;
}
.color-circle{
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);

}
.tag-2{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.077);
    width: 19vw;
    height:8vw;
    color: white;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 30%;
    right: 5%;
}